.audio-player{
    width: 100%;
    min-width: 100px;

    .controls {
        display: flex;
        align-items: center;
    }

    
    .playback-button {
      display: flex;
      align-items: center;
      transition: .2s;
      width: 40px;
      height: 40px;
      border: 2px solid #c93a3d;
      justify-content: center;
      border-radius: 50%;
      margin-right: 20px;
      margin-bottom: 12px;
      cursor: pointer;

      .button__img_sound{
        display: inline-block;
        background-image: url(..//..//assets/icons/on_sound.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 30px;
        height: 30px;
      }

      .img-play{
        transition: .2s;
        width: 18px;
        height: 18px;
        align-self: center;
      }
      

    }

    .pause{
      .button__img_sound{
        display: inline-block;
        background-image: url(..//..//assets/icons/off_sound.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 30px;
        height: 30px;
      }
    
    }
}

.timebar{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  position: relative;
}


.timebar-bar {
    height: 6px;
    min-width: 100%;
    background: linear-gradient(to right, #1e797f 0%, rgb(61, 133, 140) 0%, #f0c592 2.90146%, #c93a3d 100%);
}

.timebar-circle {
  background-color:#1e797f;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%,calc(-50% + 2px));
  transform: translate(-50%,calc(-50% + 2px));
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
  
}

.timebar-time-info {
    margin-top: 8px;
    font-size: 11px;
    color: #d3d3d3;
    display: flex;
    justify-content: space-between;
}


