@import "~normalize.css";

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer__links{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-github{
    display: inline-block;
    background-image: url(./assets/Github_logo.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

.img-rssschool{
    display: inline-block;
    background-image: url(./assets/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 23px;

}

.year{
    align-self: center;
}
