.button__navigation{
    color: $color-text-light;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    background: $color-buttons;
    border-radius: 10px;
    border-style: none;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    transition:all .3s;
    cursor: pointer;
    &:hover{
        background: $color-button-hover;
    }
    &:active{
        background: $color-button-active;
    }
}


.sound_on{
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 6.4px;
    span{
        display: inline-block;
        background-image: url('../../assets/svg/sound-on-new.svg');
        background-repeat: no-repeat;
        height: 18px;
        width: 18px;
        background-size:cover;
    }
}

.sound_off{
    span{
        background-image: url('../../assets/svg/sound-off-new.svg');
    }

}


