.guess__wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba($color-categories, 0.2);
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 0;
    border-radius: 5px;
    gap: 3%;

    @media screen and (max-width: 569px) {
        flex-direction: column;
    }


    .img-guess{
        display: inline-block;
        background-image: url(..//..//assets/img/img_guess.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 155px;
        border-radius: 5px;

        @media screen and (max-width: 569px) {
            align-self: center;
            margin-bottom: 3%;
        }
    }

    .block-guess{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: calc(100% - 240px);
        flex-shrink: 0;

        @media screen and (max-width: 569px) {
            width: 100%;
        }

        .name-guess{
            margin-top: 0;

            @media screen and (max-width: 569px) {
               text-align: center;
            }


        }

    }

}

