.settings-block{
   display: flex;
   flex-direction: column;
   margin-bottom: 5rem;

   .settings{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin-bottom: 2rem;
   }
   
}