.button{
    color: $color-white;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, $color-additional 1.49%, $color-primary 101.44%);
    border-style: none;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    width: 298px;
    height: 54px;
    transition:all .3s;
    cursor: pointer;
    &:hover{
        background: $color-button-hover;
    }
    &:active{
        background: $color-button-active;

    }
}

.button_smothed{
    border-radius: 25px;
    
}

.button__watch{
    position: absolute;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
}

.slider__arrow{
    position: relative;
    height: 62px;
    width: 62px;
    background: linear-gradient(113.96deg, $color-additional 1.49%, $color-primary 101.44%);
    border-radius: 50%;
    border-style: none;
    margin-bottom: 0;
    cursor: pointer;
    &:hover{
        background: $color-button-hover;
    }
    
   
    &:active{
        background: $color-button-active;

    }
}

.arrow_back{
    & span{
    display: inline-block;
    position:absolute;
    background-image: url('../../assets/icons/left_arrow.svg');
    height: 8px;
    width: 16px;
    transform: translate(-50%, -50%);
        }
}

.arrow_forward{
    & span{
    display: inline-block;
    position:absolute;
    background-image: url('../../assets/icons/arrow_forward.svg');
    height: 8px;
    width: 16px;
    transform: translate(-50%, -50%);
        }
}

.button_square{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    border-style: none;
}

.button_submit{
    width: 129px;
    height: 42px;
    border: 1px solid $color-button-active;
    border-radius: 5px;
    color: $color-button-active;
    margin-left: 6px;
}

.mistake{
    border: 1px solid #D31414;
    color: #D31414;
}

