.ellips{
    margin-top: 92px;
    margin-left:807px;
    display: inline-block;
    height: 465px;
    width: 465px;
    background: linear-gradient(113.96deg, $color-additional 1.49%, $color-primary 101.44%);
    border-style: none;
    border-radius: 50%;
    flex-shrink: 0;
}
