
.navigation{
    display:flex;
    flex-direction: row;
    color:$color-white;
    list-style: none;
    gap: 58px;
    margin-left:63px;
    padding-left: 0;
    //@include respond-to('large){
     // @include gap(1000px, 48px);
     // @include margin(1000px, 0px, 0px, 0px, 63px);
   // }
    @media screen and (max-width: 1599px) and (min-width: 1000px) {
      @include gap(1000px, 48px);
      @include margin(1000px, 0px, 0px, 0px, 63px);
   }
    
 .navlink{
    color:$color-white;
    text-decoration: none;
    &:hover{
      color: $color-button-hover;
      
    }
 }
 .link_selected{
    color: $color-primary;
 }

 
}


