.petStory-online{
    position:relative;
    width: 82px;
    height: 52px;
    font-size: 1.90145rem;
    font-weight: 400;
    line-height: 120%;
    margin:0;
    margin-right: 63px;
    border: 1.18841px solid $color-white;
    border-radius: 2px;
    padding: 3.55px 4.55px;
    @media screen and (max-width: 639px) {
        width: 128px;
        height: 23px;
        margin-right: 0;
        border:none ;
        padding: 0;
    }
    .h1__petStory{
        width: 72.49px;
        height: 44.91px;
        color: $color-white;
        text-decoration: none;
        text-transform:none;
        text-align: center;
        z-index: 1;
        @media screen and (max-width: 639px) {
            width: auto;
            height: auto;
            font-weight: 300;
        }

    }
    .bamboo{
        position: absolute;
        display: inline-block;
        background-image: url(../../assets/svg/bamboo.svg);
        background-repeat: no-repeat;
        width: 12px;
        height: 21px;
        left: 8px;
        top: 23.64px; 
        z-index: 3;
        padding: 0;
        @media screen and (max-width: 639px) {
            width: 12px;
            height: 21px;
            left: 72px;
            bottom: 5px;
            top:auto;
        }
    }
}

.logo__header{
    @media screen and (max-width: 768px) {
        font-size: 1.22899rem;
        border-style: none;
        width: 46.92724609375px;
        height: 29.0266056060791px;
        padding: 0; 
        .bamboo{
            @media screen and (max-width: 768px) {
                width: 9px;
                height: 14px;
                left: 2px;
                top: 12px; 
            }
    }

}
}