$color-background: #333B41;
$color-primary:#dbf0db;

$brand-color: #fff700;
$brand-color2:#00ffd9;
$brand-color3: rgb(255, 23, 209);
$brand-color4: rgb(85, 255, 0);
$brand-color5: rgb(208, 0, 255);


$color-buttons: #fff700;
$color-button-hover: #00ffd9;


$color-text-light: #F1F3F2;
$color-text-dark: #242424;