$color-background: #333B41;
$color-primary:#dbf0db;

$brand-color: #fff700;
$brand-color2:#00ffd9;
$brand-color3: #ff17d1;
$brand-color4: #55ff00;
$brand-color5: rgb(208, 0, 255);

$color-text-light: #F1F3F2;
$color-text-dark: #242424;