.feed{
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.feed__link{
    color: $color-black;
    text-decoration-color: $color-primary;

}

.feed__article{
    margin-bottom: 60px;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include margin (1600px, 0px, 0px, 60px, 0px);
       
    }        
    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include margin (1000px, 0px, 0px, 40px, 0px);

    }
    @media screen and (max-width: 768px) and (min-width: 639px){
        @include margin (640px, 0px, 0px, 30px, 0px);
    }
    @media screen and (max-width: 639px){
        @include margin (320px, 0px, 0px, 20px, 0px);
    }
}


.h2_orange{
    padding-left: 251px;
    margin-bottom: 30px;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include margin (1000px, 0px, 0px, 30px, 0px);
        @include padding (1000px, 0px, 0px, 0px, 0px);
        text-align: center;
    }    

    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include margin (1000px, 0px, 0px, 20px, 0px);
        @include padding (1000px, 0px, 0px, 0px, 0px);
        text-align: center;
    }
    @media screen and (max-width: 768px) and (min-width: 639px) {
        @include margin (640px, 0px, 0px, 20px, 0px);
        @include padding (640px, 0px, 0px, 0px, 0px);
        @include font-size(640px, 42px);
        text-align: center;
    }
    @media screen and (max-width: 639px){
        @include margin (320px, 0px, 0px, 10px, 0px);
        @include padding (320px, 0px, 0px, 0px, 0px);
        @include font-size(320px, 24px);
        text-align: center;
    }

}
 
.feed__subtitle{
    margin-bottom: 40px;
    height: 29px;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include margin (1600px, 0px, 0px, 40px, 0px);
        @include width (1600px, 843px);
        height: auto;
    }    

    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include margin (1000px, 0px, 0px, 20px, 0px);
        @include width (1000px, 843px);
        height: auto;
    }
    @media screen and (max-width: 768px) and (min-width: 639px) {
        @include margin (640px, 0px, 0px, 20px, 0px);
        @include width (640px, 600px);
        height: auto;
        @include font-size(640px, 22px);
    }
    @media screen and (max-width: 639px){
        @include margin (320px, 0px, 0px, 0px, 0px);
        @include width (320px, 297px);
        height: auto;
        @include font-size(320px, 18px);
        text-align: center;
    }
}

.feed__commentText{
    margin-bottom: 10px;
    height: 21px;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include margin (1600px, 0px, 0px, 10px, 0px);
        @include width (1600px, 1061px);
        height: auto;
    }    

    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include margin (1000px, 0px, 0px, 10px, 0px);
        @include width(1000px, 813px);
        height: auto;
    }
    @media screen and (max-width: 768px) and (min-width: 639px) {
        @include margin (640px, 0px, 0px, 10px, 0px);
        @include width (640px, 600px);
        height: auto;
    }
    @media screen and (max-width: 639px){
       display: none;
    }
}

.feed__mainText{
    margin: 0px;
    width: 863px;
    height: 42px;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include width (1600px, 863px);
        height: auto;
    }    
    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include width(1000px, 823px);
    }
    @media screen and (max-width: 768px) and (min-width: 639px) {
        @include width (640px, 600px);
        height: auto;
    }
    @media screen and (max-width: 639px){
        display: none;
     }
  
}

.howItWorks{
    display: flex;
    flex-direction:column;
}

.howItWorks__plan{
    display: flex;
    justify-content: center;
    margin-left: 99px;
    margin-right: 198px;
    margin-bottom: 60px;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include margin (1600px, 0px, 198px, 60px, 99px);
    }    

    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include margin (1000px, 0px, 0px, 70px, 0px);
        justify-content: space-between;
    }
    @media screen and (max-width: 768px) and (min-width: 640px){
        @include margin (640px, 0px, 12px, 40px, 0px);
        @include gap(640px, 42px);
    }
    @media screen and (max-width: 639px){
        flex-direction: column;
        align-items: center;
        @include margin (320px, 0px, 0px, 30px, 0px);
        @include gap(320px, 20px);
    }
   
    .plan__step{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:30px;
        z-index: 1;
        @media screen and (max-width: 639px){
            @include gap (320px, 10px);
           height: 222px;

        }
       .step__image{
            position: relative;
            display: flex;
            background-color: $color-white;
            height: 168px;
            width: 168px;
            border-radius: 5px;
            border: 1px solid $color-primary;
           
            span{
            position: absolute;
            display: inline-block;
            background-repeat: no-repeat;
            }
            
        }
        .step__text{
            height: 46px;
            width: 168px;
            margin: 0;
            @media screen and (max-width: 991px) and (min-width: 768px){
                @include width (1000px, 168px);
                height: auto;
            }
            @media screen and (max-width: 768px) and (min-width: 640px){
                @include width(640px, 168px);
                height: auto;
            }
            @media screen and (max-width: 639px){
                @include width(320px, 168px);
                height: auto;
           }
        }
    }
    .plan__arrow{
        display: inline-block;
        background-image: url('../../assets/svg/arrowblack.svg');
        background-repeat: no-repeat;
        width: 69px;
        height: 35.08px;
        margin-top: 62px;
        margin-right: 31px;
        margin-left: 30px;
        @media screen and (max-width: 991px) and (min-width: 768px){
            scale:0.8;
            @include margin (1600px, 62px, 0px, 0px, 0px);
        }
        @media screen and (max-width: 768px) and (min-width: 639px){
            display: none;
        }
        @media screen and (max-width: 639px) {
            display: none;
        }
    }
}


.image_pay{
    background-image: url('../../assets/svg/pay.svg');
    height: 60px;
    width: 108px;
    top:54px;
    left:30px;
   
    @media screen and (max-width: 991px) and (min-width: 768px){
        @include width (641px, 108px);
        @include height (641px, 60px);
        @include top (641px, 0px);
        @include left(641px, 0px);
        scale: 0.8;
    }
}

.image_toZoo{
    background-image: url('../../assets/svg/zoo.svg');
    height: 95px;
    width: 85.77493286132812px;
    right: 41px;
    top: 38px;
    
    @media screen and (max-width: 991px) and (min-width: 768px){
        @include width (641px,  85.77493286132812px);
        @include height (641px, 95px);
        scale: 0.8;
        @include right (1000px, 0px);
        @include top(1000px, 0px);

    }
}

.image_monkey{
    background-image: url('../../assets/svg/monkey.svg');
    height: 71.60345458984375px;
    width: 124.7468032836914px;
    left: 22px;
    top: 48px;
    @media screen and (max-width: 991px) and (min-width: 768px){
        @include width (640px, 124.7468032836914px);
        @include height (640px, 71.60345458984375px);
        scale: 0.8;
        @include left (1000px, 0px);
        @include top(1000px, 0px);
    }
}

.feed__h3{
    margin: 0 476px 40px 376px;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include margin (1600px, 0px, 0px, 40px, 0px);
        text-align: center;
    }    
    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include margin (1000px, 0px, 0px, 40px, 0px);
        text-align: center; 
    }
    @media screen and (max-width: 768px) and (min-width: 639px){
        @include margin (640px, 0px, 0px, 0px, 0px);
        text-align: center;
    }
    @media screen and (max-width: 639px) {
        @include margin (320px, 0px, 0px, 30px, 0px);
        @include font-size(320px, 24px);
        text-align: center;
    }
}

.button__feed{
    margin-left: 332px;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include margin (1600px, 0px, 0px, 0px, 0px);
        align-self: center;
    }    

    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include margin(1000px, 0px, 0px, 0px, 0px);
        align-self: center;
    }
    @media screen and (max-width: 768px){
        @include margin(640px, 0px, 0px, 0px, 0px);
        align-self: center;
    }
}

.arrow_for-small-width{
    display: none;
    @media screen and (max-width: 768px) and (min-width: 639px){
        display: flex;
        flex-direction: row;
        @include gap(640px, 114.2px);
        justify-content: center;
        z-index: 2;
        @include margin (640px, 0px, 0px, -10px, 0px);
        .small_arrow{
            background-image: url('../../assets/img/small_arrow.png');
            background-repeat: no-repeat;
            @include width(640px, 89px);
            @include height (640px, 29px);
            display: inline-block;
           } 
    }
    @media screen and (max-width: 639px){
        display: flex;
        flex-direction: column;
        gap:154.89px;
        z-index: 2;
        position: absolute;
        @include left(320px, 240px);
        @include top(320px, 370px);
        .small_arrow{
            background-image: url('../../assets/img/small_arrow_320.png');
            background-repeat: no-repeat;
            width: 25px;
            height: 89px;
            display: inline-block;
           } 
    }
   

}


