header{
    position: relative;
    background-color: $color-black;
    width: 100vw;
    z-index: 2;
}

.designed__header{
    color: $color-white;
    text-decoration: none;
    padding-left: 438px;
    &:hover{
        color: $color-button-hover;
      }
};
    
