.pets__slider{
  display: flex;
  position: relative;
  gap: 20px;
  align-items: center;
  margin-bottom:80px;
  @media screen and (max-width: 1599px) and (min-width: 1001px) {
    @include gap(1600px, 20px);
  }
  @media screen and (max-width: 640px){
    @include margin(640px, 0px, 0px, 60px, 0px);
   
  }


  .layout_3_columns{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 20px;
    @media screen and (max-width: 1599px) and (min-width: 1001px) {
      @include row-gap(1600px, 20px);
      @include column-gap(1600px, 30px);
    }
    @media screen and (max-width: 1000px) and (min-width: 641px){
      @include row-gap(1000px, 92px);
      @include column-gap(1000px, 29px);
    }
    @media screen and (max-width: 640px){
      @include row-gap(640px, 92px);
      @include column-gap(640px, 27.76px);
      @include width (640px, 597.76px);
      overflow: hidden;
      align-self: flex-start;
      //margin-left:307px;
     
    }
    //display:flex;
    //height: 872px;
    //width: 1158px;
    //flex-wrap: wrap;
    //justify-content: center;
    //.panda_pet, .eagles_pet, .cheetahs_pet, .sloth_pet {
      //margin-right: 27px;
   // }
    //.panda_pet, .eagles_pet, .gorillas_pet{
     // margin-bottom: 20px;
   // }
    .pet{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid #FA6F32;
        flex-shrink: 1;
        @media screen and (max-width: 1599px) and (min-width: 1001px) {
          @include width(1600px, 366px);
        }
        @media screen and (max-width: 1000px) and (min-width: 641px){
          @include width(1000px, 294px);
        }
        @media screen and (max-width: 640px){
          @include width(640px, 285px);
        }
        
        &:hover{
          .pet__image{
            transform:scale(1.05);
          }
          .pet__text{
            color:$color-white;
            transform: translate(0px, -40px);
            align-items: center;
          }
          .pet_text_penguins{
           color: $color-primary;
           
          }


        }
        
      .pet__image{
        display: inline-block;
        height: 366px;
        width: 366px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: all 1s;
        @media screen and (max-width: 1599px) and (min-width: 1001px) {
          @include height(1600px, 366px);
          @include width(1600px, 366px);
        }
        @media screen and (max-width: 1000px) and (min-width: 641px){
          @include height(1000px, 294px);
          @include width(1000px, 294px);
        }
        @media screen and (max-width: 640px){
          @include height(640px, 285px);
          @include width(640px, 285px);
        }
      }
      .pet__comment{
        position: relative;
        .pet__text{
          display: flex;
          flex-direction: column;
          padding:8px 56px 14px 16px;
          transition: all .5s;
          @media screen and (max-width: 1599px) and (min-width: 1001px) {
            @include padding(1600px, 8px, 56px, 14px, 16px);
          }
          @media screen and (max-width: 1000px) and (min-width: 641px){
            @include padding(1000px, 8px, 47px, 14px, 16px);
          }
          @media screen and (max-width: 640px) {
            @include padding(640px, 6.24px, 43.4px, 10.94px, 12.47px);
          }
          .pet__name{
            text-transform: uppercase;
            margin:0;
            height: 22px;
            @media screen and (max-width: 640px) {
              @include height(640px, 17px);
              @include font-size(640px, 12.47px);
            }
          }
          .pet__origin{
            margin:0;
            @media screen and (max-width: 640px) {
              @include font-size(640px, 11.69px);
            }
          }
  
        }
        .food__icon{
          position: absolute;
          display: inline-block;

        }
        
      }
    }

}

}


.food_banana{
  background-image: url('../../assets/icons/banana-bamboo_icon.svg');
  height: 37px;
  width: 33px;
  top:10px;
  right: 12px;
  @media screen and (max-width: 1000px) and (min-width: 641px){
    @include right(1000px, 14px);
  }
  @media screen and (max-width: 640px) {
    background-image: url('../../assets/icons/banana-bamboo_icon_640.svg');
    @include width(640px, 25.72px);
    @include height(640px, 28.84px);
    @include top(640px, 7.79px);
    @include right(640px, 9.11px);
  }

}
.food_meat{
  background-image: url('../../assets/icons/meet-fish_icon.svg');
  height: 38px;
  width: 48px;
  top:8px;
  right: 8px;
  @media screen and (max-width: 1000px) and (min-width: 641px){
    @include right(1000px, 10px);
  }
  @media screen and (max-width: 640px) {
    background-image: url('../../assets/icons/meet-fish_icon_640.svg');
    @include width(640px, 37.41px);
    @include height(640px, 29.62px);
    @include top(640px, 6.24px);
    @include right(640px, 6px);
  }
}


.image_panda{
    background-image: url('../../assets/img/pandas.jpg');
}
.image_eagles{
  background-image: url('../../assets/img/eagles.jpg');
}
 
.image_gorillas{
  background-image: url('../../assets/img/gorillas.jpg');
}

.image_sloth{
  background-image: url('../../assets/img/sloth.jpg');
}

.image_cheetahs{
  background-image: url('../../assets/img/cheetahs.jpg');
}

.image_penguins{
  background-image: url('../../assets/img/penguins.jpg');
}

.button__pet{
 // position: relative;
  margin-bottom: 100px;
  z-index: 3;
  @media screen and (max-width: 1000px) and (min-width: 641px){
    @include margin(1000px, 0px, 0px, 140px, 0px);
  }
  @media screen and (max-width: 640px) {
    @include margin(640px, 0px, 0px, 100px, 0px);
  }
}






