.pets__slider{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom:80px;
  .layout_3_columns{
    display:flex;
    height: 872px;
    width: 1158px;
    flex-wrap: wrap;
    justify-content: center;
    .panda_pet, .eagles_pet, .cheetahs_pet, .sloth_pet {
      margin-right: 27px;
    }
    .panda_pet, .eagles_pet, .gorillas_pet{
      margin-bottom: 20px;
    }
    .pet{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid #FA6F32;
        flex-shrink: 1;
        
      .pet__image{
        display: inline-block;
        height: 366px;
        width: 366px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      .pet__comment{
        position: relative;
        .pet__text{
          padding:8px 56px 14px 16px;
          .pet__name{
            text-transform: uppercase;
            margin:0;
            height: 22px;
          }
          .pet__origin{
            margin:0;
          }
  
        }
        .food__icon{
          position: absolute;
          display: inline-block;

        }
        
      }
    }

}

}


.food_banana{
  background-image: url('../../assets/icons/banana-bamboo_icon.svg');
  height: 37px;
  width: 33px;
  top:10px;
  right: 12px;
}
.food_meat{
  background-image: url('../../assets/icons/meet-fish_icon.svg');
  height: 38px;
  width: 48px;
  top:8px;
  right: 8px;
}


.image_panda{
    background-image: url('../../assets/img/pandas.jpg');
}
.image_eagles{
  background-image: url('../../assets/img/eagles.jpg');
}
 
.image_gorillas{
  background-image: url('../../assets/img/gorillas.jpg');
}

.image_sloth{
  background-image: url('../../assets/img/sloth.jpg');
}

.image_cheetahs{
  background-image: url('../../assets/img/cheetahs.jpg');
}

.image_penguins{
  background-image: url('../../assets/img/penguins.jpg');
}

.button__pet{
  position: relative;
  margin-bottom: 100px;
  z-index: 3;
}






