.watch{
    margin-bottom: 0;
    width:100vw;
    background-image: url('../../assets/img/Giant_Panda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 780px;
    min-width: $desktop-width; 
    margin-top: -80px;
}
.watch__content{
    display: flex;

}

.watch__text{
    position: absolute;
    margin-top: 166px;
    margin-left:880px;
    width: 500.31px;
    height: 400px;
}