.wrapper{
    width: $desktop-width;
    display: flex;
    margin: 0 auto;
   
}

.header__wrapper{
    align-items: center;
    width:1600px;
    padding:14px 220px;
    background-color: $color-black;
    z-index:4;
}

.watch__wrapper{
    flex-direction: column;
   
}

.backStage_pets__wrapper{
    flex-direction: column;
    position: relative;
    width:100vw;
    .decoration_top_right{
        position: absolute;
        background-image: url(../../assets/img/flower_foto1.png);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-repeat: no-repeat;
        height: 605px;
        width: 293px;
        right: -73px;
        top: -26px;
      
    }

    .decoration_bottom_right{
        position: absolute;
        background-image: url(../../assets/img/strelitzia.png);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-repeat: no-repeat;
        height: 275px;
        width: 368px;
        right: 0;
        bottom: 0;

    }

    .decoration_bottom_left{
        position: absolute;
        background-image: url(../../assets/img/palm_foto.png);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-repeat: no-repeat;
        height: 460px;
        width: 880px;
        left: 0;
        bottom: 0;
    }
   
}

.pets__wrapper{
    flex-direction: column;
    align-items: center;
    & button{
        margin-bottom: 100px;
    }

}