@mixin font($size, $height, $weight, $style:normal){
   font-size: $size;
   font-weight: $weight;
   font-style: $style;
   line-height: $height;
    }

    //padding from px to vw

@mixin padding($media, $top:0, $right:0, $bottom:0, $left:0){
     padding: #{$top/$media*100}vw #{$right/$media*100}vw #{$bottom/$media*100}vw #{$left/$media*100}vw;
       }

@mixin height($media, $height){
  height: #{$height/$media*100}vw;
}     

@mixin width($media, $width) {
  width: #{$width/$media*100}vw;
}

@mixin gap($media, $gap){
  gap: #{$gap/$media*100}vw;
}
@mixin row-gap($media, $row-gap) {
  row-gap: #{$row-gap/$media*100}vw;
}

@mixin column-gap($media, $column-gap) {
  column-gap: #{$column-gap/$media*100}vw;
}

@mixin margin($media, $top:0, $right:0, $bottom:0, $left:0){
  margin: #{$top/$media*100}vw #{$right/$media*100}vw #{$bottom/$media*100}vw #{$left/$media*100}vw;
    }

@mixin left($media, $left:0){
  left: #{$left/$media*100}vw;
}

@mixin right($media, $right:0){
  right: #{$right/$media*100}vw;
}
@mixin top ($media, $top:0){
  top: #{$top/$media*100}vw;
}
@mixin bottom ($media, $bottom:0){
  bottom: #{$bottom/$media*100}vw;
  
}

@mixin font-size ($media, $font-size) {
  font-size: #{$font-size/$media*100}vw;;
}


// Управление отзывчивостью.
// @access public
// @param {String} $breakpoint - точка останова
// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
  @error 'Не указано значение для `#{$breakpoint}`. '
       + 'Пожалуйста, убедитесь, что точка останова объявлена в карте `$breakpoints`.';
  }
}
    

 




