
html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    @include font(106.496px, 75%, 700);
    @media screen and (max-width: 1599px) and (min-width: 1000px) {
        font-size: 8.52rem;
    }
    
}

h2{
    @include font(48px, 120%, 400);
    margin:0 0 20px 0;
}

.h2_orange{
    color: $color-primary;
}

.h3{
    @include font(36px, 130%, 400);
    margin:0;
}

.h3_orange{
    color: $color-primary;
}

.text_subtitle{
    @include font(24px, 120%, 400);

}

.text_btn{
    @include font(16px, 140%, 500);

}

.text_smallParagraph{
    @include font(15px, 120%, 300);

}

.feed__mainText{
    @include font(16px, 130%, 400);

}
.feed__commentText{
    @include font(16px, 130%, 500);

}

.text__donate{
    @include font(16.3px, 140%, 400);
}









