.button{
    color: $color-text-light;
    padding: 0 2%;
    font-size: 2rem;
    border-style: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0%;
    background-color: $brand-color5;
    border-radius: 0.5rem;
    padding: 1rem;

    @media screen and (max-width: 1000px) {
        background-color: $brand-color2;
    }

    &:hover{
        background-color: $brand-color3;
        color: $color-text-dark;
        font-weight: 400;
        scale: 1.1;
    }
}

