.button{
    color: $color-text-light;
    padding: 0 2%;
    font-size: 2rem;
    border-style: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0%;
    background-color: $brand-color5;
    border-radius: 5px;
    padding: 10px;

    &:hover{
        background-color: $brand-color3;
        color: $color-text-dark;
        font-weight: 400;
        scale: 1.1;
    }
}

.settings__button{
    color: $color-text-dark;
    background-color: $brand-color2;
    padding: 5px;

    &:hover{
        background-color: $brand-color;
        font-weight: 400;
        scale: 1.1;
    }
}

.settings {
    .disabled {
        background-color: rgba(219, 240, 219, 0.4);
        cursor: default;
        &:hover{
            background-color: rgba(219, 240, 219, 0.4);
            scale: 1;
            font-weight: 500;
        }
    }
}


.button_race, 
.button_reset{
    color: #ff17d1;
    font-weight: 700;
}

.button_generate{
    background-color: $brand-color4;
    color: $color-text-dark;
}

.button_select,
.button_remove {
    color: #ff17d1;
    background-color: $color-primary;
    padding: 5px 10px;
}

.button_prev,
.button_next {
    background-color: $color-text-dark;
    color: $brand-color2;
    padding: 0px 5px;
    font-weight: 100;

    &:hover {
        background-color: $brand-color2;
        color: $color-text-dark;
        font-weight: 400;
        scale: 1.1;
    }
}

.buttons-wrapper{
    display: flex;
    gap: 5px;
}


.buttons-wrapper{
    .disabled{
        background-color: rgba(219, 240, 219, 0.4);
        cursor: default;

        &:hover{
            background-color: rgba(219, 240, 219, 0.4);
            scale: 1;
            font-weight: 100;
            color: $brand-color2;
        }
    }
    

}


