.navlink__donate{
    color: $color-white;
    text-decoration: none;
    &:hover{
        color: $color-button-hover;
        
      }
}

.watch__donate{
    margin-bottom: 0;
    background-image: url('../../assets/img/panda_bg_donate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    margin-top: 0;
    @media screen and (max-width: 1000px) and (min-width: 768px){
        background-image: url('../../assets/img/panda_bg_donate_1000.jpg');
        @include height(1000px, 390px);
    }
    @media screen and (max-width: 768px) and (min-width: 639px){
        background-image: url('../../assets/img/panda_bg_donate_640.jpg');
        @include height (640px, 335px);
        margin-top: 33.99px;
    }
    @media screen and (max-width: 639px){
        background-image: url('../../assets/img/panda_bg_donation_320.jpg');
        @include height (320px, 187px);
        margin-top: 33.99px;
    }

}

.background__donate{
    display: flex;
    flex-direction: column;
    .help__donate{
        margin: 40px 220px;
        color: $color-white;
        width: 1160px;
        @media screen and (max-width: 1599px) and (min-width: 1001px){
            @include width (1600px, 1160px);
            @include margin(1600px, 40px, 220px, 40px, 220px);
        }        
        @media screen and (max-width: 1000px) and (min-width: 768px){
            @include width (1000px, 939px);
            @include margin(1000px, 40px, 30px, 40px, 30px);
        }
        @media screen and (max-width: 768px) and (min-width: 639px){
            @include width (640px, 600px);
            @include margin(640px, 30px, 20px, 30px, 20px);
        }
        @media screen and (max-width: 639px){
            @include width (320px, 300px);
            @include margin(320px, 30px, 10px, 30px, 10px);

        }

        .h3_donate{
            @media screen and (max-width: 1599px) and (min-width: 1001px){
                @include width (1600px, 1156px);
                @include margin(1600px, 0px, 0px, 10px, 0px);
                
            }        
            @media screen and (max-width: 1000px) and (min-width: 768px){
                @include width (1000px, 778px);
                @include margin(1000px, 0px, 0px, 30px, 0px);
                
            }
            @media screen and (max-width: 768px) and (min-width: 639px){
                @include width (640px, 600px);
                @include height (640px, 58px);
                @include margin(640px, 0px, 0px, 20px, 0px);
                font-size: 2.4rem;
            }
            @media screen and (max-width: 639px) {
                @include width (320px, 300px);
                @include height (320px, 87px);
                @include margin(320px, 0px, 0px, 20px, 0px);
                font-size: 2.4rem;
            }

           }

        .text__donate{
            text-align: left;
            margin:0;
            @media screen and (max-width: 768px) and (min-width: 639px){
                @include height(640px, 154px);
            }
            @media screen and (max-width: 639px) {
                @include height(320px, 308px);
            }
          
        }
    }
    .donation_info_title{
        margin-left:220px;
        margin-bottom: 60px;
        @media screen and (max-width: 1599px) and (min-width: 1001px){
            @include width (1600px, 1156px);
            @include margin (1600px, 0px, 0px, 60px, 220px);
            
        }        
        @media screen and (max-width: 1000px) and (min-width: 768px){
            @include width (1000px, 778px);
            @include margin (1000px, 0px, 0px, 40px, 30px);
            
        }
        @media screen and (max-width: 768px) and (min-width: 639px){
            @include width (640px, 600px);
            @include margin(640px, 0px, 0px, 30px, 20px);
        }
        @media screen and (max-width: 639px){
            @include width (320px, 227px);
            @include margin(320px, 0px, 0px, 30px, 10px);
            font-size: 2.4rem;
        }
    }
    
}

.wrapper__donate{
    margin-top: 0;
    margin-bottom: 180px;
    padding: 40px 92px 62px;
    overflow: hidden;
    @media screen and (max-width: 1599px) and (min-width: 1001px){
        @include padding (1600px, 40px, 92px, 62px, 92px);
        
    }        
    @media screen and (max-width: 1000px) and (min-width: 768px){
        @include margin (1000px, 0px, 30px, 30px, 30px);
        @include padding (1000px, 20px, 44px, 46px, 47px);
        
    }
    @media screen and (max-width: 768px) and (min-width: 639px){
        @include margin (640px, 0px, 20px, 46px, 20px);
        @include padding (640px, 30px, 0px, 32.98px, 0px);
        @include width (640px, 600px);
    }
    @media screen and (max-width: 639px){
        @include margin (320px, 0px, 10px, 20px, 10px);
        @include padding (320px, 17px, 0px, 22.98px, 0px);
        @include width (320px, 300px);
    }

    .feed__donate{
        @media screen and (max-width: 1000px) and (min-width: 768px){
            @include margin (1000px, 0px, 0px, 60px, 0px);
        }
        @media screen and (max-width: 768px) and (min-width: 639px){
            @include margin (640px, 0px, 0px, 50px, 0px);
        }
        @media screen and (max-width: 639px){
            @include margin (320px, 0px, 0px, 10.28px, 0px);
        }

    }
    .h2__donate{
        margin-bottom: 20px;
        @media screen and (max-width: 1599px) and (min-width: 1001px){
            @include margin (1600px, 0px, 0px, 20px, 0px);
        }        
        @media screen and (max-width: 1000px) and (min-width: 768px){
            @include margin (1000px, 0px, 0px, 10px, 0px);
        }
        @media screen and (max-width: 768px) and (min-width: 639px){
            @include margin (640px, 0px, 0px, 20px, 0px);   
        }
        @media screen and (max-width: 639px) {
            @include margin (320px, 0px, 0px, 10px, 0px);   
        }
    }
    .subtitle__donate{
        margin: 0;
        @include font(24px, 120%, 400);
        @media screen and (max-width: 768px) and (min-width: 639px){
            text-align: center;
            @include width(640px, 560px);
            @include margin (640px, 0px, 0px, 0px, 20px);
            font-size: 2.4rem;
        }
        @media screen and (max-width: 639px){
            text-align: center;
            @include width(320px, 300px);
            @include margin (320px, 0px, 0px, 0px, 0px);
            font-size: 1.6rem;
        }

       
    }
    .panda_diet{
        display:flex;
        margin-left: 215px;
        margin-right: 229px;
        margin-bottom: 48px;
        @media screen and (max-width: 1599px) and (min-width: 1541px){
            @include margin (1600px, 0px, 229px, 48px, 215px);
        }  
        @media screen and (max-width: 1540px) and (min-width: 1001px){
            @include margin (1600px, 0px, 0px, 48px, 0px);
        }       
        @media screen and (max-width: 1000px) and (min-width: 991px){
            @include margin (1000px, 0px, 168px, 80px, 149px);
        }
        @media screen and (max-width: 990px) and (min-width: 768px){
            @include margin (1000px, 0px, 68px, 80px, 49px);
        }
        @media screen and (max-width: 768px) and (min-width: 639px){
            @include margin (640px, 0px, 41px, 41px, 27px);
        }
        @media screen and (max-width: 639px){
            @include margin (320px, 0px, 0px, 6px, 0px);
        }
        
        .amount_diet{
            display: flex;
            flex-direction: column;
            gap:10px;
          
        
            .number_diet{
                @include font(72px, 80%, 500);
                text-align: center;
                margin-top: 105px;
                @media screen and (max-width: 639px){
                    @include font-size (320px,40.6px);
                    @include margin (320px, 59.21px, 0px, 0px, 0px);
                }
        
            }
            .text_diet{
                @include font(16px, 140%, 400);
                text-align: center;
                @media screen and (max-width: 639px){
                    @include font-size (320px, 9.02px);
                    @include width (320px, 89.66px);
                }
        }
        
        }
        .cross{
            display: block;
            background-image: url('..//..//assets/icons/x_icon.png');
            width: 14px;
            height: 14px;
            margin-left:11px;
            margin-right: 64px;
            margin-top: 130px;
            @media screen and (max-width: 770px) and (min-width: 768px){
                @include margin (1000px, 130px, 11px, 0px, 11px);
            }
            @media screen and (max-width: 768px) and (min-width: 639px){
                @include margin (640px, 130px, 64px, 0px, 11px);
            }
            @media screen and (max-width: 639px) {
                @include margin (320px, 73.31px, 36.09px, 0px, 6.2px);
            }
           

        }
        .image_panda{
            display: block;
            background-image: url('..//..//assets/img/animals-widget.png');
            width: 284px;
            height: 246px;
            @media screen and (max-width: 639px) {
                @include width (320px, 160.15px);
                @include height (320px, 138.72px);
                background-size: cover;
            }

        }
    }
    .amount{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        @media screen and (max-width: 1000px) and (min-width: 768px){
            @include padding (1000px, 0px, 0px, 0px, 18px);
        }
        @media screen and (max-width: 768px) and (min-width: 639px) {
            @include padding (640px, 0px, 0px, 0px, 0px);
        }
        @media screen and (max-width: 639px){
            @include margin (320px, 0px, 0px, 25px, 0px);
        }

        .text__amount{
            @include font(16px, 140%, 400);
            text-align: left;
            margin-bottom: 17px;
            @media screen and (max-width: 768px) and (min-width: 639px){
                @include margin (640px, 0px, 0px, 7px, 10px);
            }
            @media screen and (max-width: 639px){
                @include margin (320px, 0px, 0px, 8.5px, 0px);

            }

        }
        .progress__amount{
            display: flex;
            position: relative;
            flex-direction: column;
            height: 27px;
            width: 976px;
            border-radius: 2px;
            background-color: $color-progress-bar;
            overflow: hidden;
            margin-bottom: 12px;
            @media screen and (max-width: 1599px) and (min-width: 1001px){
               // @include width (1600px, 976px);
            }        
            @media screen and (max-width: 1000px) and (min-width: 768px){
                width: 810px;
               // @include width (1000px, 810px);
            }
            @media screen and (max-width: 768px) and (min-width: 639px){
                width: 600px;
               // @include width (640px, 600px);
            }
            @media screen and (max-width: 639px){
              @include width (320px, 300px);
              @include height (320px, 13.5px);
              @include margin (320px, 0px, 0px,  6px, 0px);
            }
            .line{
                display: inline-block;
                background-color: $color-line;
                height: 2px;
                width: 915px;
                position: absolute;
                top:12px;
                left:31px;
                right: 30px;
                z-index: 1;
                @media screen and (max-width: 1599px) and (min-width: 1001px){
                  //  @include width (1600px, 915px);
                  //  @include left(1600px, 31px);
                   // @include right(1600px, 30px);
                   z-index: 1;
                }        
                @media screen and (max-width: 1000px) and (min-width: 768px){
                    width: 785px;
                    left:16px;
                    right: 9px;
                   //  @include width (1000px, 785px);
                 //   @include left(1000px, 16px);
               //     @include right(1000px, 9px);
                     z-index: 1;
                }
                @media screen and (max-width: 768px) and (min-width: 639px){
                    width: 524px;
                    left:41px;
                    right: 35px;
                  //  @include width (640px, 524px);
                   // @include left(640px, 41px);
                 //   @include right(640px, 35px);
                    z-index: 1;
                }
                @media screen and (max-width: 639px){
                  @include width (320px, 262px);
                  @include height (320px, 1px);
                  @include left(320px, 17.5px);
                 @include right(320px, 20.5px);
                 @include top (320px, 6px);
                     z-index: 1;
                }

                
            }
            .points_block{
                display: flex;
                flex-direction: row;
                z-index: 2;
                gap:120px;
                margin: 8px 30px 9px 26px;
                @media screen and (max-width: 1599px) and (min-width: 1001px){
                  //  @include gap (1600px, 120px);
                //    @include margin(1600px, 8px, 30px, 9px, 26px);
                    z-index: 2;
                }        
                @media screen and (max-width: 1000px) and (min-width: 991px){
                    transform: translateX(-130px);
                    position: absolute;
                  //  gap:120px;
                    margin:8px 30px 9px 11px;
                   // @include gap (1000px, 120px);
                     justify-content: space-between;
                  //  @include margin(1000px, 8px, 30px, 9px, 11px);
                    z-index: 2;
                }
                @media screen and (max-width: 990px) and (min-width: 768px){
                    transform: translateX(-130px);
                    position: absolute;
                    gap: 100px;
                    margin:8px 30px 9px 11px;
                  //   @include gap (1600px, 100px);
                //    @include margin(1000px, 8px, 30px, 9px, 11px);
                    z-index: 2;
                }
                @media screen and (max-width: 768px) and (min-width: 639px){
                    position: absolute;
                    margin:8px 35px 9px 35px;
                  //  @include gap (640px, 120px);
                   // @include margin(640px, 8px, 35px, 9px, 35px);
                  //  z-index: 2; 
                }
                @media screen and (max-width: 639px){
                    @include gap (320px, 60px);
                    @include margin(320px, 4px, 17.5px, 4.5px, 17.5px);
                    z-index: 2; 
                }

                .point{
                    display: inline;
                    background-color: $color-point;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    transition: all .2s;
                    cursor: pointer;
                    @media screen and (max-width: 639px){
                        width: 5px;
                        height: 5px;
                    }
                    &:hover{
                        transform: scale(1.5);
                        background-color: $color-primary;
                    }
                }
                .point_selected{
                    transform: scale(1.5);
                    background-color: $color-primary;
                }
                .point::before {
                    position: absolute;
                    content: '';
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index:-1;
                    border:1px solid $color-primary; /* for demo purposes */
                  }
            }
        
        }
        .money__amount{
            display: grid;
            grid-template-columns: 130px 130px 130px 130px 130px 130px 130px 71px;
            @media screen and (max-width: 1599px) and (min-width: 1001px){
                grid-template-columns: 8.125vw 8.125vw 8.125vw 8.125vw 8.125vw 8.125vw 8.125vw 4.4375vw;
            }        
            @media screen and (max-width: 1000px) and (min-width: 768px){
                grid-template-columns: 13vw 13vw 13vw 13vw 13vw 13vw 13vw 5vw;
                margin-left: -13vw;
                overflow: hidden;
            }
            @media screen and (max-width: 768px) and (min-width: 639px){
                grid-template-columns: 20.3125vw 20.3125vw 20.3125vw 20.3125vw 20.3125vw 20.3125vw 20.3125vw 7.8125vw;
                margin-left: -60.9375vw;
                @include padding(640px, 0px, 13px, 0px, 17px);
                overflow: hidden;
            }
            @media screen and (max-width: 639px){
                grid-template-columns:20.3125vw 20.3125vw 20.3125vw 20.3125vw 20.3125vw 20.3125vw 20.3125vw 7.8125vw;
                margin-left: -60.9375vw;
                @include padding(320px, 0px, 7.5px, 0px, 8.5px);
                overflow: hidden;
            }

            .money{
                display: flex;
                align-items: baseline;
            
                .dollar_amount{
                    @include font(26px, 140%, 500);
                    color: $color-dollar;
                    @media screen and (max-width: 639px){
                        @include font-size (320px, 13px);
                    }
                }
                .amount_selected{
                    color: $color-primary;
                }

            }
            
        }
    }

    .another__amount{
        display: flex;
        flex-direction: column;
        align-items: center;
        .form__another{
            position: relative;
            margin-bottom: 25px;
            @media screen and (max-width: 768px) and (min-width: 639px){
                margin-bottom: 31px;
            }
            .input__another{
                background-color: transparent;
                border: 1px solid $color-input;
                width: 268px;
                height: 54px;
                font-family: 'Roboto', sans-serif;
                @include font(16px, 140%, 400);
                padding: 16px 143px 16px 9px;
                color: $color-input;
                @media screen and (max-width: 768px) and (min-width: 639px){
                    width: 180px;
                    height: 42px;
                    padding: 10px 57.96px 14.89px 6.04px;
                }
                @media screen and (max-width: 639px){
                    width: 180px;
                    height: 42px;
                    padding: 11px 57.96px 13.89px 6.04px;
                }
              
            }
            .dollar__another{
                position: absolute;
                right:17px;
                top:17px;
                background-image: url(..//..//assets/icons/dollar_input.svg);
                width: 10px;
                height: 20px;
                @media screen and (max-width: 768px){
                    right: 10px;
                    top: 11px;
                }
            }

        }
        
       
    }

 .once_monthly__form{
    display: flex;
    margin-bottom: 31px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 639px){
        margin-bottom: 28px;
    }
    .input_monthly_once{
        appearance: none;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 1px solid $color-primary;
        border-radius: 50%;
        margin-right: 10px;
        &:checked{
            background-color: $color-primary;
        }
    }
    .label__donate{
        @include font(16px, 140%, 400);
        color: $color-dollar;
    }


 }

 .monthly__label{
    margin-right: 50px;
 }

 .button_feed__donate{
    margin-bottom: 30.02px;
 }

 .text_comment_feed{
    margin-left: 340px ;
    margin-right: 335px;
    @media screen and (max-width: 1000px) and (min-width: 768px){
       @include margin(1000px, 0px, 0px, 0px, 271px);
   }
   @media screen and (max-width: 768px) and (min-width: 639px){
    @include margin(640px, 0px, 0px, 0px, 0px);
    text-align: center;
   }
   @media screen and (max-width: 639px){
    @include margin(640px, 0px, 0px, 0px, 0px);
    text-align: center;
    width: 301px;
   }
 }

   
}

 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 
 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield;
 }

 .dollar{
    display: inline;
    background-image: url("..//..//assets/svg/dollar.svg");
    width: 10px;
    height: 20px;
    color: $color-dollar;
    @media screen and (max-width: 639px){
        width: 5px;
        height: 10px;
        background-size: cover;
    }
}

.dollar_selected{
    color: $color-primary;
    background-image: url("..//..//assets/svg/dollar_orange.svg");
}


.hiden{
    @media screen and (max-width: 1000px) and (min-width: 641px){
        display: none;
    }

}

.point_selected{
    transform: scale(1.5);
    background-color: $color-primary;
}




